/* This file is for your main application css. */

@import "bootstrap";


body { font-size: 20pt; }


.header_text{
    text-align: center; 
        font-size: 2.5rem;
}

.btnlft{
	text-align: end;
}

.dispcard{
	border-radius: 8%;
	margin: 4%;
}